<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Test GitHub Action</title>
  <style>
    .center {
      text-align: center;
    }
  </style>
</head>
<body>
  <h2 class="center">GitHub Action Demo</h2>
  <h3 class="center">Hello world!. This website run on <%= hostname%></h3>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo iusto libero amet fugiat. Provident et magnam nesciunt omnis velit, temporibus illo ex, eligendi asperiores similique repellat doloremque vel, modi perferendis?</p>
</body>
</html>